<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{url_for('home')}}">Space Managment</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapsenavbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}" >Student Data <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('faculty')}}">Faculty<span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('lab')}}">Labs <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('room')}}">RoomStatus<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('status')}}" >Status of form <span class="sr-only">(current)</span></a>
          </li>




        </ul>
      </div>
    </nav>

    <div class="container" >
      <div class="container mr-5 mt-5 p-5 pl-5 bg-light center">
        <form method="POST">
          <style>
            #lab {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-gap: 10px;
            }
          </style>
          
          <div class="form-group">
            <b><h5><label for="lab">Select Lab Name</label></h5></b>
            <div id="lab">
              <label><input type="checkbox" name="CC 402" value="CC 402"> CC 402</label>
              <label><input type="checkbox" name="CC 117" value="CC 117"> CC 117</label>
              <label><input type="checkbox" name="CC 301" value="CC 301"> CC 301</label>
              <label><input type="checkbox" name="CC 316" value="CC 316"> CC 316</label>
              <label><input type="checkbox" name="CC 218" value="CC 218"> CC 218</label>
              <label><input type="checkbox" name="CC 405" value="CC 405"> CC 405</label>
              <label><input type="checkbox" name="CFILT" value="CFILT"> CFILT</label>
              <label><input type="checkbox" name="SIA 20" value="SIA 20"> SIA 20</label>
              <label><input type="checkbox" name="SIB 401" value="SIB 401"> SIB 401</label>
              <label><input type="checkbox" name="SIC101/SIC102" value="SIC101/SIC102"> SIC101/SIC102</label>
              <label><input type="checkbox" name="SIC 210" value="SIC 210"> SIC 210</label>
              <label><input type="checkbox" name="SIC 204" value="SIC 204"> SIC 204</label>
              <label><input type="checkbox" name="SIC 212" value="SIC 212"> SIC 212</label>
              <label><input type="checkbox" name="SIC 312" value="SIC 312"> SIC 312</label>
              <label><input type="checkbox" name="SIC 209" value="SIC 209"> SIC 209</label>
              <label><input type="checkbox" name="SIC 309" value="SIC 309"> SIC 309</label>
              <label><input type="checkbox" name="SIC 310" value="SIC 310"> SIC 310</label>
              <label><input type="checkbox" name="SIC 313" value="SIC 313"> SIC 313</label>
            </div>
          </div>
          
          <div class="form-group">
            <style>
              ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
              }
              li {
                margin-bottom: 5px;
              }
            </style>
            
            
            <div class="form-group">
              <b><h5>Find</h5></b>
              <ul>
                <li><label for="no_of_pi"><input type="checkbox" id="no_of_pi" name="No of PI" value="No of PI"> No of PI</label></li>
                <li><label for="pi_name"><input type="checkbox" id="pi_name" name="PI Name" value="PI Name"> PI Name</label></li>
                <li><label for="total_student"><input type="checkbox" id="total_student" name="No of Total Student" value="No of Total Student"> No of Total Student</label></li>
                <li><label for="mtech_student"><input type="checkbox" id="mtech_student" name="No of M.Tech Student" value="No of M.Tech Student"> No of M.Tech Student</label></li>
                <li><label for="btech_student"><input type="checkbox" id="btech_student" name="No of B.Tech Student" value="No of B.Tech Student"> No of B.Tech Student</label></li>
                <li><label for="ms_student"><input type="checkbox" id="ms_student" name="No of MS Student" value="No of MS Student"> No of MS Student</label></li>
                <li><label for="phd_student"><input type="checkbox" id="phd_student" name="No of Phd Student" value="No of Phd Student"> No of Phd Student</label></li>
                <li><label for="lab_capacity"><input type="checkbox" id="lab_capacity" name="Available Capacity of Lab" value="Available Capacity of Lab"> Available Capacity of Lab</label></li>
              </ul>
            </div>
            
  
                  
                 
                </select>
          </div>
          <!-- <input type="submit" value="Submit"> -->
          <button type="submit" class="btn btn-success" value="Submit">Submit</button>
          
        </form>
      </div>
        <div id="result-container" class="container mr-5 mt-5 p-5 center">
        
        {% if flag %}
        {{data2|safe}}
        
        {% endif %}
      
      
        </div>
      
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>